<ul class="flex py-3 justify-around">
  <li title="Checkout my Twitter Profile">
    <a href="https://twitter.com/heypejman" target="_blank">
      <fa-icon
        [icon]="faTwitter"
        size="2x"
        class="text-gray-400 hover:text-gray-500"
      ></fa-icon>
    </a>
  </li>
  <li title="Checkout my GitHub Profile">
    <a href="https://github.com/ghorbanzade" target="_blank">
      <fa-icon
        [icon]="faGithub"
        size="2x"
        class="text-gray-400 hover:text-gray-500"
      ></fa-icon>
    </a>
  </li>
  <li title="Checkout my LinkedIn Profile">
    <a href="https://linkedin.com/in/ghorbanzade" target="_blank">
      <fa-icon
        [icon]="faLinkedin"
        size="2x"
        class="text-gray-400 hover:text-gray-500"
      ></fa-icon>
    </a>
  </li>
  <li title="Send me an Email">
    <a href="mailto:pejman@ghorbanzade.com" target="_blank">
      <fa-icon
        icon="envelope"
        size="2x"
        class="text-gray-400 hover:text-gray-500"
      ></fa-icon>
    </a>
  </li>
  <li title="Schedule a Meeting">
    <a href="https://calendly.com/ghorbanzade/30min" target="_blank">
      <fa-icon
        icon="calendar-alt"
        size="2x"
        class="text-gray-400 hover:text-gray-500"
      ></fa-icon>
    </a>
  </li>
</ul>
