<ul class="flex py-3 justify-around">
  <li>
    <a href="https://twitter.com/pengal" target="_blank">
      <fa-icon [icon]="faTwitter" size="2x" class="text-gray-400 hover:text-gray-500"></fa-icon>
    </a>
  </li>
  <li>
    <a href="https://github.com/ghorbanzade" target="_blank">
      <fa-icon [icon]="faGithub" size="2x" class="text-gray-400 hover:text-gray-500"></fa-icon>
    </a>
  </li>
  <li>
    <a href="https://linkedin.com/in/ghorbanzade" target="_blank">
      <fa-icon [icon]="faLinkedin" size="2x" class="text-gray-400 hover:text-gray-500"></fa-icon>
    </a>
  </li>
  <li>
    <a href="mailto:pejman@ghorbanzade.com" target="_blank">
      <fa-icon icon="envelope" size="2x" class="text-gray-400 hover:text-gray-500"></fa-icon>
    </a>
  </li>
</ul>
