<ul class="flex py-3 justify-around">
  <li title="Checkout my Twitter Profile">
    <a href="https://twitter.com/heypejman" target="_blank">
      <ng-icon
        class="text-gray-300 hover:text-gray-500"
        name="bootstrap-twitter"
        size="2rem"
      ></ng-icon>
    </a>
  </li>
  <li title="Checkout my GitHub Profile">
    <a href="https://github.com/ghorbanzade" target="_blank">
      <ng-icon
        class="text-gray-300 hover:text-gray-500"
        name="bootstrap-github"
        size="2rem"
      ></ng-icon>
    </a>
  </li>
  <li title="Checkout my LinkedIn Profile">
    <a href="https://linkedin.com/in/ghorbanzade" target="_blank">
      <ng-icon
        class="text-gray-300 hover:text-gray-500"
        name="bootstrap-linkedin"
        size="2rem"
      ></ng-icon>
    </a>
  </li>
  <li title="Send me an Email">
    <a href="mailto:pejman@touca.io" target="_blank">
      <ng-icon
        class="text-gray-300 hover:text-gray-500"
        name="bootstrap-envelope"
        size="2rem"
      ></ng-icon>
    </a>
  </li>
  <li title="Schedule a Meeting">
    <a href="https://calendly.com/ghorbanzade/30min" target="_blank">
      <ng-icon
        class="text-gray-300 hover:text-gray-500"
        name="bootstrap-calendar-3"
        size="2rem"
      ></ng-icon>
    </a>
  </li>
</ul>
