<div class="h-screen flex md:items-center">
  <div class="max-w-screen-lg mx-auto md:grid md:grid-cols-4 md:gap-3">
    <div
      class="md:col-span-1 p-6 bg-white rounded-lg md:shadow-md md:border border-gray-300"
    >
      <div class="md:flex md:flex-wrap md:content-between md:h-full space-y-2">
        <div class="text-center hidden md:block">
          <img
            class="rounded-full"
            src="/assets/pejman.jpg"
            alt="Pejman Ghorbanzade"
          />
        </div>
        <div class="text-center">
          <h1 class="font-semibold text-xl text-gray-900">
            Pejman Ghorbanzade
          </h1>
          <h2 class="text-gray-600">Software Engineer</h2>
        </div>
        <gio-social class="block w-1/2 mx-auto md:w-full"></gio-social>
      </div>
    </div>
    <div
      class="md:col-span-3 p-6 bg-white rounded-lg md:shadow-md md:border border-gray-300"
    >
      <h2 class="text-2xl mb-4 py-2 border-b font-semibold">
        Hey, I'm Pejman!
      </h2>
      <markdown class="prose prose-base prose-gray" [src]="'./assets/About.md'">
      </markdown>
    </div>
  </div>
</div>
