<div class="h-screen flex items-center">
  <div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4">
    <div class="col-span-1 p-6 bg-white rounded-lg shadow-md border border-gray-300">
      <div class="flex justify-center">
        <img src="/assets/icons/icon-96x96.png" />
      </div>
      <div class="text-center">
        <h1 class="text-xl text-gray-900">Pejman Ghorbanzade</h1>
        <h2 class="text-gray-600">Software Engineer</h2>
      </div>
      <div>
        <gio-social></gio-social>
      </div>
    </div>
    <div class="gio-markdown col-span-3 p-6 bg-white rounded-lg shadow-md border border-gray-300">
      <markdown [src]="'./assets/About.md'">
      </markdown>
    </div>
  </div>
</div>
